{{> header}}
<body>
  {{> nav}}
  <div class="content">
    <img src="/images/b-and-b-joe.png" alt="my photo">
    <caption>Created by this guy</caption>
  </div>

  <footer>
    <p>Created by Joseph &#169;2020</p>
  </footer>

</body>
{{> footer}}
