{{> header}}
<body>

  <div class="content">
    {{> nav}}
    <p>Weather for your day</p>
    <form class="weather-search">
      <input placeholder="Your town">
      <button>SEARCH</button>
    </form>
    <h2 id="city"></h2>
    <h3 id="forecast"></h3><p id="conditions"></p>
    <div id="photo">
    </div>
    <p id="photo-caption"></p>

  </div>

  <footer>
    <p>Created by Joseph &#169;2020</p>
  </footer>

  <!--JavaScript start-->
  <script src="/js/script.js"></script>
  <!--JavaScript end-->
</body>
{{> footer}}
