<h1>{{title}}</h1>
<div class="nav">
  <button type="button" name="HOME"><a href="/">WEATHER</a></button>
  <button type="button" name="ABOUT"><a href="/about">ABOUT</a></button>
  <button type="button" name="HELP"><a href="/help">HELP</a></button>

</div>
<p>{{message}}</p>
